* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* navigation */

header {
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-weight: 800;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 100%;
}

li {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  padding: 15px;
}

/*main */

.awesome {
  background-color: #1f2937;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.this-is-awesome {
  justify-self: center;
  color: #f9faf8;
  margin-left: 25px;
  margin-left: 100px;
}
.this-is-awesome h2 {
  font-size: 48px;
}

.this-is-awesome p {
  margin-top: 8px;
  width: 450px;
}
.placeholder {
  color: #f9faf8;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin-right: 150px;
}

.btn {
  background-color: #3882f6;
  font-size: 22px;
  text-align: center;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  color: white;
  margin-top: 15px;
}

.random-inf {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
}
.cards {
  display: flex;
  justify-content: space-around;
  padding: 4em 65em 4em 65em;
}
.card {
  width: 205px;
}
.pepe {
  border-radius: 30%;
  max-width: 100%;
}
.container-quote {
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: center;
  padding: 0em 45em 0em 45em;
}

.container-quote h3 {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
.container-quote h4 {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}
